<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.Processes.Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tools.Processes.Host.Properties.Settings>
            <setting name="DescriptionRegex" serializeAs="String">
                <value>&lt;Description&gt;(.*)?&lt;/Description&gt;</value>
            </setting>
            <setting name="TraceShutdownDurationSc" serializeAs="String">
                <value>5</value>
            </setting>
        </Tools.Processes.Host.Properties.Settings>
    </userSettings>
</configuration>