<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object name="XmlLogger"
		type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
		singleton="false">
				<constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
				<constructor-arg name="logRootLocation" value="C:\logs\toolssample\" />
				<constructor-arg name="fileDatetimePattern" value="dd-MMM-yyTHH-mm-ss" />
				<constructor-arg name="fileStaticPattern" value="log_" />
				<constructor-arg name="name" value="XmlLogger" />
			</object>
		</objects>
	</spring>
	<system.diagnostics>
		<sources>
			<source name="Tools.Coordination.Sample.WindowsService" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<!--<add name="IoCXmlLogger"/>-->
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
			<source name="Tools.Coordination.Sample.Implementation" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<!--<add name="IoCXmlLogger"/>-->
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
			<source name="Tools.Coordination" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<!--<add name="IoCXmlLogger"/>-->
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>

			<source name="Wds.EligLoad.Preprocessing.Batch.WindowsService" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<!--<add name="IoCXmlLogger"/>-->
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
			<source name="Tools.Core" switchValue="Verbose">
				<listeners>
					<add name="ConsoleListener"/>
					<!--<add name="IoCXmlLogger"/>-->
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add name="IoCXmlLogger"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose, ActivityTracing">
				<listeners>
					<!--<add name="IoCXmlLogger"/>-->
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="IoCXmlLogger" initializeData="XmlLogger"
			 type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"
			 traceOutputOptions="Timestamp"/>
			<add initializeData=""
			  type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  name="ConsoleListener" traceOutputOptions="DateTime"/>
			<!--<add name="IoCDBLogger" initializeData="DatabaseLogger" type="Tools.Logging.Ioc.IoCWrapperTraceListener, Tools.Logging.Ioc"/>-->
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>