<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.UI.Windows.Descriptors.ListViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
            <section name="Tools.UI.Windows.Descriptors.Tools.UI.Windows.Descriptors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
            <section name="Tools.UI.Windows.Descriptors.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.UI.Windows.Descriptors.ListViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="Tools.UI.Windows.Descriptors.Tools.UI.Windows.Descriptors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tools.UI.Windows.Descriptors.ListViewSettings>
            <setting name="ShowListNameDescription" serializeAs="String">
                <value>False</value>
            </setting>
        </Tools.UI.Windows.Descriptors.ListViewSettings>
        <Tools.UI.Windows.Descriptors.Tools.UI.Windows.Descriptors>
            <setting name="SplitterPosition" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MarksFilePath" serializeAs="String">
                <value />
            </setting>
        </Tools.UI.Windows.Descriptors.Tools.UI.Windows.Descriptors>
        <Tools.UI.Windows.Descriptors.Settings1>
            <setting name="SplitterPosition" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="MarksFilePath" serializeAs="String">
                <value />
            </setting>
        </Tools.UI.Windows.Descriptors.Settings1>
    </userSettings>
    <applicationSettings>
        <Tools.UI.Windows.Descriptors.ListViewSettings />
        <Tools.UI.Windows.Descriptors.Tools.UI.Windows.Descriptors />
    </applicationSettings>
</configuration>