<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Dsi.Common.RegexLibrary" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="spring">
      <section name="context"
               type="Spring.Context.Support.ContextHandler,
                     Spring.Core" />
      <section name="objects"
               type="Spring.Context.Support.DefaultSectionHandler,
                     Spring.Core" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
	<section name="testNameValueSection" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	<section name="Dsi.StringCryptoTransformer" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	<section name="Dsi.EncryptionTokenProvider" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	<section name="Dsi.TokenDateTimeVerifier" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
	<testNameValueSection>
		<add key="testKey" value="testValue" />
	</testNameValueSection>
	<Dsi.StringCryptoTransformer>
		<add key="key" value="fNDSOCzb9Fmq/75qvNWrjRwrl26KL0bAovhwPtM3CtU=" />
		<add key="iv" value="MKdGXAXzd+Y1l9SNPPvBgA==" />
	</Dsi.StringCryptoTransformer>
	<Dsi.EncryptionTokenProvider>
		<add key="saltPhrase" value="skakal pes pres oves" />
	</Dsi.EncryptionTokenProvider>
	<Dsi.TokenDateTimeVerifier>
		<add key="timeWindowSeconds" value="100" />
	</Dsi.TokenDateTimeVerifier>	
  <system.diagnostics>
    <sources>
      <source name="Tools.Common.Logging" switchValue="Verbose">
        <listeners>
          <add name="IoCDBLogger">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="TestOfIoCXmlRollingWriter" switchValue="Verbose">
        <listeners>
          <add name="IoCXmlLogger">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="IoCDBLogger" initializeData="DatabaseLogger"
       type="Tools.Common.Logging.IoCWrapperTraceListener, Tools.Common"
       traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add name="IoCXmlLogger" initializeData="XmlLogger"
       type="Tools.Common.Logging.IoCWrapperTraceListener, Tools.Common"
       traceOutputOptions="Timestamp">
        <filter type="" />
      </add>      
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
 defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
  traceOutputOptions="None" type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
  name="System.Diagnostics TraceListener" initializeData="" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
  traceOutputOptions="None" type="Tools.Common.Logging.IoCWrapperTraceListener, Tools.Common"
  name="IoCLogger" initializeData="DatabaseLogger" />
    </listeners>
    <formatters>
      <add template="Timestamp: [{timestamp}] Message: {message}&#xD;&#xA;Category: [{category}] Priority: [{priority}] EventId: [{eventid}] Severity: [{severity}]&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: [{processId}] Process Name: [{processName}]&#xD;&#xA;Win32 Thread Id: [{win32ThreadId}] Thread Name: [{threadName}]&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
     type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
     name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="System.Diagnostics TraceListener" />
          <add name="IoCLogger" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="System.Diagnostics TraceListener" />
          <add name="IoCLogger" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="LogDatabase" connectionString="Data Source=.\sqlexpress;Initial Catalog=AvonLog;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Dsi.Common.RegexLibrary>
    <add key="PasswordRegex" value="\A(?=[-_a-zA-Z0-9]*?[A-Z])(?=[-_a-zA-Z0-9]*?[a-z])(?=[-_a-zA-Z0-9]*?[0-9])\S{12,}\z" />
  </Dsi.Common.RegexLibrary>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="DatabaseLogger"
        type="Tools.Common.Logging.DatabaseTraceListener, Tools.Common"
        singleton="false">
        <constructor-arg name="connectionStringName" value="LogDatabase" />
        <constructor-arg name="storedProcedureName" value="uspInsertLogMessage" />
        <constructor-arg name="fallbackListener" ref="FallbackListener" />        
        <constructor-arg name="extraLogDataTransformer" ref="ExtraLogDataTransformer" />          
      </object>
      <object name="FallbackListener" type="Tools.Common.Logging.FileTraceListener, Tools.Common">
      </object>
      <object name="ExtraLogDataTransformer" type="Tools.Common.Logging.ActivityDataLogTransformer, Tools.Common">
      </object>
      <object name="XmlLogger"
        type="Tools.Common.Logging.XmlWriterRollingTraceListener, Tools.Common"
        singleton="false">
        <constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
        <constructor-arg name="logRootLocation" value="C:\logs\dsi\tools\" />
        <constructor-arg name="name" value="XmlLogger" />   
      </object>      
    </objects>
  </spring>
</configuration>