<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Tools.Tracing.UI">
			<client url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost">
				<wellknown 
					type="Tools.Tracing.ClientHandler.TraceEventHandlerWrapper, Tools.Tracing.ClientHandler" 
					url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost/TraceEventHandlerWrapper.rem" />
			</client>
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <formatter ref="binary" includeVersions="false" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>