<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Net" switchValue="All">
        <listeners>
          <add name="XmlLogger" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
               initializeData="name = XmlLogger; logrootpath = c:\logs\; staticpattern = system.net.; maxSizeBytes = 200000;" />
        </listeners>
      </source>
      <source name="System.Net.Cache" switchValue="All">
        <listeners>
          <add name="XmlLogger" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
               initializeData="name = XmlLogger; logrootpath = c:\logs\; staticpattern = system.net.cache.; maxSizeBytes = 200000;" />
        </listeners>
      </source>
      <source name="System.Net.HttpListener" switchValue="All">
        <listeners>
          <add name="XmlLogger" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
               initializeData="name = XmlLogger; logrootpath = c:\logs\; staticpattern = system.net.httplistener.; maxSizeBytes = 200000;" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="All">
        <listeners>
          <add name="XmlLogger" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
               initializeData="name = XmlLogger; logrootpath = c:\logs\; staticpattern = system.net.sockets.; maxSizeBytes = 200000;" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <requestCaching defaultPolicyLevel="Default">
    </requestCaching>
  </system.net>
</configuration>