<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration"
			type="ec.architecture.Configuration.SectionReaders.Types.TypesSectionReader, ec.architecture.Configuration.SectionReaders.Types"></section>
	</configSections>
	<system.runtime.remoting>
		<application name="Tools.Tracing.ServiceHost">
			<service>
				<wellknown mode="Singleton" type="Tools.Tracing.Client.ApplicationEventHandlerWrapper, Tools.Tracing.Client"
					objectUri="ApplicationEventHandlerWrapper.rem" />
				<wellknown mode="Singleton" type="Tools.Tracing.Server.ApplicationEventHandlerManagerWrapper, Tools.Tracing.Client"
					objectUri="ApplicationEventHandlerManagerWrapper.rem" />
			</service>
			<channels>
				<channel ref="tcp" port="9020">
					<serverProviders>
						<formatter ref="binary" includeVersions="false" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="off" />
	</system.runtime.remoting>
	<Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration name="ApplicationEventHandlerManagerConfiguration" type="Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration, Tools.Tracing.Common"
		description="Provides the startup logging configuration. Later on configuration can be updated during the app run (latest iterations)">
		<ApplicationEventHandlerManagerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			Name="Default" BaseEventSourceName="PE2LG">
			<Handlers>
				<ApplicationEventHandlerConfiguration Name="RemotedApplicationEventLogHandler">
					<Enabled>false</Enabled>
					<TypeActivationSource>
						<TypeLocator Name="Client.ApplicationEventHandlerWrapper" Type="Tools.Tracing.Client.ApplicationEventHandlerClient"
							Path="C:\toppackagesV2\ec\architecture\ApplicationEvents\Client\bin\Debug\Tools.Tracing.Client.dll" />
						<Arguments>
							<ActivationArgument xsi:type="TextActivationArgument" Name="ServiceHost" Value="localhost" />
							<ActivationArgument xsi:type="TextActivationArgument" Name="ServicePort" Value="9020" />
							<ActivationArgument xsi:type="TextActivationArgument" Name="ObjectUriPath" Value="Tools.Tracing.ServiceHost/ApplicationEventHandlerWrapper.rem" />
						</Arguments>
					</TypeActivationSource>
				</ApplicationEventHandlerConfiguration>
			</Handlers>
		</ApplicationEventHandlerManagerConfiguration>
	</Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration>
</configuration>
