<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Tools.Processes.Host.Installer" type="Tools.Processes.Host.ServiceHostInstallConfigSection, Tools.Processes.Host.dll"/>
    <section name="Tools.ServiceModelHost" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <Tools.Processes.Host.Installer name="Tools.Wcf.Host" displayName="Tools.Wcf.Common.ServiceHost" description="Sample of a host, change the name and description to reflect your needs." />
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\dsihost_trace.log"
       type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
       name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\temp\dsihost_messages.log"
       type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
       name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <Dsi.ServiceModelHost>
    <add key="Tools.Wcf.Host.HostedServicesEnumerator"
         value="Tools.Wcf.Host.HostedServicesEnumerator, Tools.Wcf.Host" />
  </Dsi.ServiceModelHost>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="MexBinding">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="legacyBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="NetTcpBinding_Custom">
          <transactionFlow />

          <binaryMessageEncoding />
          <windowsStreamSecurity protectionLevel="None" />
          <tcpTransport maxBufferPoolSize="524288"
    maxReceivedMessageSize="99999998" connectionBufferSize="8192"
    hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:01:00"
    maxBufferSize="99999998" maxPendingConnections="20" maxOutputDelay="00:00:00.2000000"
    maxPendingAccepts="5" transferMode="Buffered" listenBacklog="20"
    portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="20" />
          </tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DebugServiceBehavior"
       name="Tools.Wcf.Host.HostedServicesEnumerator">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/HostedServicesEnumerator"/>
            <add baseAddress="net.tcp://localhost:8001/HostedServicesEnumerator"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" bindingConfiguration="legacyBinding"  bindingNamespace="http://Dsi.Tools.Common.servicehost.wcf/test"
         contract="Tools.Wcf.Host.IStatusQuerable" />
        <endpoint binding="customBinding" bindingConfiguration="NetTcpBinding_Custom"  bindingNamespace="http://Dsi.Tools.Common.servicehost.wcf/test"
 contract="Tools.Wcf.Host.IStatusQuerable" />
      </service>
    </services>
  </system.serviceModel>
</configuration>