<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Tools.Processes.Host.Installer" type="Tools.Processes.Host.ServiceHostInstallConfigSection, Tools.Processes.Host.dll"/>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>

	<Tools.Processes.Host.Installer name="Tools.Monitoring.Service" displayName="Tools.Monitoring.Service" description="Orchestrates and executes processing for eligibility load." />
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<!-- Data access -->

			<!-- End of data access -->
			<!-- Batch processors -->
			<object name="MonitoringProcessor" singleton="true" type="Tools.Monitoring.Implementation.StatisticsProcessor, Tools.Monitoring.Implementation">
        <constructor-arg name="statisticsData" ref="StatisticsData"/>
        <constructor-arg name="statisticsHandler" ref="StatisticsHandler"/>
				<property name="Name" value="MonitoringProcessor"/>
				<property name="Description" value="Orchestrates the monitoring and stats gathering process"/>
				<property name="Schedule" ref="MonitoringSchedule"/>
			</object>
      <object id="StatisticsData" type="Tools.Monitoring.Implementation.StatisticsDataStub, Tools.Monitoring.Implementation"/>
      <object id="StatisticsHandler" type="Tools.Monitoring.Implementation.StatisticsHandler, Tools.Monitoring.Implementation">
        <constructor-arg>
          <object type="Tools.Monitoring.Implementation.StatisticsDataStub, Tools.Monitoring.Implementation"/>
        </constructor-arg>
      </object>
			<object name="MonitoringSchedule" singleton="true" type="Tools.Coordination.Scheduling.SlidingSchedule, Tools.Coordination">
				<property name="Name" value="MonitoringSchedule"/>
				<property name="Description" value="Schedule to run the monitoring process"/>
				<property name="Definition">
					<object type="Tools.Coordination.Scheduling.ScheduleDefinition, Tools.Coordination">
						<property name="Recurrence">
							<object type="Tools.Coordination.Scheduling.RecurrencePattern, Tools.Coordination">
								<property name="MillisecondRecurrence" value="30000"/>
							</object>
						</property>
					</object>
				</property>
			</object>
			<!-- End of batch processors -->
			<object name="Coordinator" singleton="true" type="Tools.Processes.Core.ProcessCoordinator, Tools.Processes.Core">
				<property name="Name" value="Coordinator"/>
				<property name="Description" value="Coordinates the creation and start, stop of processes"/>
				<property name="Processes">
					<list element-type="Tools.Processes.Core.IProcess, Tools.Processes.Core">
						<ref object="MonitoringProcessor" />
					</list>
				</property>
			</object>
			<!-- Logging -->
			<object name="DatabaseLogger" type="Tools.Logging.DatabaseTraceListener, Tools.Logging"
        singleton="false">
				<constructor-arg name="connectionStringName" value="LogDB" />
				<constructor-arg name="storedProcedureName" value="Common.uspInsertLogMessage" />
				<constructor-arg name="fallbackListener" ref="FallbackListener" />
				<!--<constructor-arg name="extraLogDataTransformer" ref="ExtraLogDataTransformer" />-->
				<property name="Filter" >
					<null/>
				</property>
			</object>
			<object name="FallbackListener" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging">
				<constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
				<constructor-arg name="logRootLocation" value="C:\logs\wds\" />
				<constructor-arg name="fileDatetimePattern" value="dd-MMM-yyTHH-mm-ss" />
				<constructor-arg name="fileStaticPattern" value="dblogfallback" />
				<constructor-arg name="name" value="XmlFallbackLogger" />
			</object>
			<!--<object name="ExtraLogDataTransformer"
              type="">
      </object>-->
			<object name="XmlLogger"
		type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
		singleton="false">
				<constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
				<constructor-arg name="logRootLocation" value="C:\logs\wds\" />
				<constructor-arg name="fileDatetimePattern" value="dd-MMM-yyTHH-mm-ss" />
				<constructor-arg name="fileStaticPattern" value="log_" />
				<constructor-arg name="name" value="XmlLogger" />
			</object>
			<!-- End of Logging -->
		</objects>
	</spring>
	<system.diagnostics>
		<sources>
			<source name="Tools.Monitoring.Implementation" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<add name="IoCXmlLogger"/>
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
			<source name="Tools.Coordination" switchValue="All">
				<listeners>
					<add name="ConsoleListener"/>
					<add name="IoCXmlLogger"/>
					<!--<add name="IoCDBLogger"/>-->
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="IoCXmlLogger" initializeData="XmlLogger"
				   type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"
				   traceOutputOptions="Timestamp"/>
			<add initializeData=""
					type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					name="ConsoleListener" traceOutputOptions="DateTime"/>
			<add name="IoCDBLogger" initializeData="DatabaseLogger" type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"/>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	<!--Connection Configuration-->
	<connectionStrings>
		<add name="SourceDB" connectionString="Database=Test;Server=.;User ID=y;Password=x;Application Name=sd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultConnectionName" value="SourceDB"/>
  </appSettings>
</configuration>
