<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Tools.Processes.Host.Installer" type="Tools.Processes.Host.ServiceHostInstallConfigSection, Tools.Processes.Host.dll"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="emsUser" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <emsUser userName="admin" password="admin" />
  <Tools.Processes.Host.Installer name="Tools.Commands.Request.WindowsService" displayName="Tools.Commands.Request.WindowsService" description="MTS commands executor" />
  <spring>
    <context>
      <resource uri="file://~/config/Common/ProducerObjects.xml"/>
      <resource uri="file://~/config/Common/CommonObjects.xml"/>
      <resource uri="file://~/config/Common/LoggingObjects.xml"/>
      <resource uri="config://spring/objects"/>
    </context>
    <typeAliases>
      <alias name="GenericDictionary" type=" System.Collections.Generic.Dictionary&lt;,>" />
    </typeAliases>
    <objects xmlns="http://www.springframework.net">
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.PropertyFileVariableSource, Spring.Core">
              <property name="Location" value="~\Config\Local\env.props" />
            </object>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <system.diagnostics>
    <sources>
      <source name="Tools.Operations.Cleanup.WindowsService" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
          <add name="EvenLogListener"/>
        </listeners>
      </source>
      <source name="Tools.Operations.Cleanup.Implementation" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
          <add name="EvenLogListener"/>
        </listeners>
      </source>
      <source name="Tools.Commands.Implementation" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
          <add name="EvenLogListener"/>          
        </listeners>
      </source>
      <source name="Tools.Coordination" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
          <add name="EvenLogListener"/>
        </listeners>
      </source>             
    </sources>
    <sharedListeners>
      <add name="IoCXmlLogger" initializeData="XmlLogger"
				   type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"
				   traceOutputOptions="Timestamp"/>
      <add initializeData=""
					type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					name="ConsoleListener" traceOutputOptions="DateTime">
      </add>
      <add initializeData="EventLogTraceListener"
					type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"
					name="EvenLogListener" traceOutputOptions="DateTime">
      </add>    
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="SourceDB" connectionString="User Id=zxapp; Password=xy_app; Data Source=forisng;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>