<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Tools.Tracing.UI.ApplicationEventsGuiSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
   <section name="Tools.Tracing.UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Tools.Tracing.UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </sectionGroup>
 </configSections>
<system.runtime.remoting>
		<application name="Tools.Tracing.UI">
		<!--
			<client url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost">
				<wellknown 
					type="Tools.Tracing.Client.ApplicationEventHandlerWrapper, Tools.Tracing.Client" 
					url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost/ApplicationEventHandlerWrapper.rem" />
			</client>
			-->
			<channels>
				<channel ref="tcp" port="0">
					<clientProviders>
						<formatter ref="binary" includeVersions="false" />		
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
 <userSettings>
  <Tools.Tracing.UI.ApplicationEventsGuiSettings>
   <setting name="XQueryLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="XPathLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>944, 416</value>
   </setting>
   <setting name="showTestToolBarMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
  </Tools.Tracing.UI.ApplicationEventsGuiSettings>
  <Tools.Tracing.UI.Settings1>
   <setting name="XQueryLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="XPathLibraryPath" serializeAs="String">
    <value />
   </setting>
  </Tools.Tracing.UI.Settings1>
 </userSettings>
 <applicationSettings>
  <Tools.Tracing.UI.Settings1 />
 </applicationSettings>
</configuration>
