<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
   name="Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration"
   type="ec.architecture.Configuration.SectionReaders.Types.TypesSectionReader, ec.architecture.Configuration.SectionReaders.Types">
		</section>	
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Tools.Tracing.UI.ApplicationEventsGuiSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
   <section name="Tools.Tracing.UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Tools.Tracing.UI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </sectionGroup>
 </configSections>
<Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration
  name="ApplicationEventHandlerManagerConfiguration"
  type="Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration, Tools.Tracing.Common"
  description="Provides the startup logging configuration. Later on configuration can be updated during the app run (latest iterations)">
		
		<ApplicationEventHandlerManagerConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="Default">
			<Handlers>
				<ApplicationEventHandlerConfiguration Name="RemotedApplicationEventLogHandler">
				<Enabled>false</Enabled>
				<TypeActivationSource>
					<TypeLocator
      Name="Client.ApplicationEventHandlerWrapper"
      Type="Tools.Tracing.Client.Handler.ApplicationEventHandlerClient"
      Path="C:\toppackagesV2\ec\architecture\ApplicationEvents\Client\Handler\bin\Debug\Tools.Tracing.Client.Handler.dll" />
						<Arguments>
						<ActivationArgument
       xsi:type="TextActivationArgument"
       Name="ServiceHost"
       Value="localhost" />
						<ActivationArgument
       xsi:type="TextActivationArgument"
       Name="ServicePort"
       Value="9020" />
						<ActivationArgument
       xsi:type="TextActivationArgument"
       Name="ObjectUriPath"
       Value="Tools.Tracing.ServiceHost/ApplicationEventHandlerWrapper.rem" />			
						</Arguments>
				</TypeActivationSource>
				</ApplicationEventHandlerConfiguration>	
			</Handlers>
		</ApplicationEventHandlerManagerConfiguration>
	</Tools.Tracing.Common.ApplicationEventHandlerManagerConfiguration>
	<system.runtime.remoting>
	
		<application name="Tools.Tracing.UI">
		<!--
			<client url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost">
				<wellknown 
					type="Tools.Tracing.Client.ApplicationEventHandlerWrapper, Tools.Tracing.Client" 
					url="tcp://LOCALHOST:9020/Tools.Tracing.ServiceHost/ApplicationEventHandlerWrapper.rem" />
			</client>
			-->
			<channels>
				<channel ref="tcp" port="0">
					<clientProviders>
						<formatter ref="binary" includeVersions="false" />		
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

 <userSettings>
  <Tools.Tracing.UI.ApplicationEventsGuiSettings>
   <setting name="XQueryLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="XPathLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>944, 416</value>
   </setting>
   <setting name="showTestToolBarMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
  </Tools.Tracing.UI.ApplicationEventsGuiSettings>
  <Tools.Tracing.UI.Settings1>
   <setting name="XQueryLibraryPath" serializeAs="String">
    <value />
   </setting>
   <setting name="XPathLibraryPath" serializeAs="String">
    <value />
   </setting>
  </Tools.Tracing.UI.Settings1>
 </userSettings>
 <applicationSettings>
  <Tools.Tracing.UI.Settings1 />
 </applicationSettings>
</configuration>
