<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Tools.Processes.Host.Installer" type="Tools.Processes.Host.ServiceHostInstallConfigSection, Tools.Processes.Host.dll"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="emsUser" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <emsUser userName="admin" password="admin" />
  <Tools.Processes.Host.Installer name="Tools.Commands.Response.Service" displayName="Tools.Commands.Response.Service" description="Commands response processor. Reads responses from queue and updates them into database." />
  <spring>
    <context>
      <resource uri="file://config/Common/EmsObjects.xml"/>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.PropertyFileVariableSource, Spring.Core">
              <property name="Location" value="~\Config\Local\env.props" />
            </object>
          </list>
        </property>
      </object>
      <object name="ExecutionSchedule" singleton="false" type="Tools.Coordination.Scheduling.SlidingSchedule, Tools.Coordination">
        <property name="Name" value="MonitoringSchedule"/>
        <property name="Description" value="Schedule to run the monitoring process"/>
        <property name="Definition">
          <object type="Tools.Coordination.Scheduling.ScheduleDefinition, Tools.Coordination">
            <property name="Recurrence">
              <object type="Tools.Coordination.Scheduling.RecurrencePattern, Tools.Coordination">
                <property name="MillisecondRecurrence" value="0"/>
              </object>
            </property>
          </object>
        </property>
      </object>
      <!-- End of batch processors -->
      <object name="Coordinator" singleton="true" type="Tools.Processes.Core.ProcessCoordinator, Tools.Processes.Core">
        <property name="Name" value="Coordinator"/>
        <property name="Description" value="Coordinates the creation and start, stop of processes"/>
        <property name="Processes">
          <list element-type="Tools.Processes.Core.IProcess, Tools.Processes.Core">
            <ref object="RegularResponseReader_11" />
            <ref object="RegularResponseReader_18" />  
            <ref object="RegularResponseReader_21" />
            <ref object="BudgetControlReader_11" />
            <ref object="BudgetControlReader_18" />           
          </list>
        </property>
      </object>
      <object name="RegularResponseReader_11" singleton="true" type="Tools.Commands.Implementation.IF1.Processors.ResponseProcessor2, Tools.Commands.Implementation">
        <constructor-arg name="dataCommand" ref="ResponseDataProvider"/>
        <constructor-arg name="responseTranslator" ref="RegularResponseStatusTranslator"/>
        <constructor-arg name="queue" ref="RegularResponseEmsQueue_11"/>
        <property name="Name" value="RegularResponseReader_11"/>
        <property name="Description" value="Orchestrates response reading"/>
        <property name="Schedule" ref="ExecutionSchedule"/>
        <property name="MaxCountOfIterations" value="10"/>
      </object>
      <object name="RegularResponseReader_18" singleton="true" type="Tools.Commands.Implementation.IF1.Processors.ResponseProcessor, Tools.Commands.Implementation">
        <constructor-arg name="dataCommand" ref="ResponseDataProvider"/>
        <constructor-arg name="responseTranslator" ref="RegularResponseStatusTranslator"/>
        <constructor-arg name="queue" ref="RegularResponseEmsResponseQueue_18"/>
        <property name="Name" value="RegularResponseReader_18"/>
        <property name="Description" value="Orchestrates response reading"/>
        <property name="Schedule" ref="ExecutionSchedule"/>
        <property name="MaxCountOfIterations" value="10"/>
      </object>
      <object name="RegularResponseReader_21" singleton="true" type="Tools.Commands.Implementation.IF1.Processors.ResponseProcessor, Tools.Commands.Implementation">
        <constructor-arg name="dataCommand" ref="ResponseDataProvider"/>
        <constructor-arg name="responseTranslator" ref="RegularResponseStatusTranslator"/>
        <constructor-arg name="queue" ref="OfflineEmsResponseQueue"/>
        <property name="Name" value="RegularResponseReader_21"/>
        <property name="Description" value="Orchestrates response reading"/>
        <property name="Schedule" ref="ExecutionSchedule"/>
        <property name="MaxCountOfIterations" value="10"/>
      </object>
      <object name="BudgetControlReader_11" singleton="true" type="Tools.Commands.Implementation.IF1.Processors.ResponseProcessor, Tools.Commands.Implementation">
        <constructor-arg name="dataCommand" ref="ResponseDataProvider"/>
        <constructor-arg name="responseTranslator" ref="BCResponseStatusTranslator"/>
        <constructor-arg name="queue" ref="BudgetControlResponseQueue_11"/>
        <property name="Name" value="BudgetControlReader_11"/>
        <property name="Description" value="Orchestrates response reading"/>
        <property name="Schedule" ref="ExecutionSchedule"/>
        <property name="MaxCountOfIterations" value="10"/>
      </object>
      <object name="BudgetControlReader_18" singleton="true" type="Tools.Commands.Implementation.IF1.Processors.ResponseProcessor, Tools.Commands.Implementation">
        <constructor-arg name="dataCommand" ref="ResponseDataProvider"/>
        <constructor-arg name="responseTranslator" ref="BCResponseStatusTranslator"/>
        <constructor-arg name="queue" ref="BudgetControlResponseQueue_18"/>
        <property name="Name" value="BudgetControlReader_18"/>
        <property name="Description" value="Orchestrates response reading"/>
        <property name="Schedule" ref="ExecutionSchedule"/>
        <property name="MaxCountOfIterations" value="10"/>
      </object>
      <object name="ResponseDataProvider" singleton="false" type="Tools.Commands.Implementation.ResponseDataProvider, Tools.Commands.Implementation">
        <constructor-arg name="updateResponseSPName" value="${UpdateCommandResponseSPName}"/>
      </object>
      <object name="DelayedFailureExceptionHandler" singleton="false" type="Tools.Failover.DelayedFailureExceptionHandler, Tools.Failover">
        <constructor-arg name="defaultDelay" value="5000"/>
        <constructor-arg name="delayFactor" value="2"/>
        <constructor-arg name="maxDelay" value="30000"/>
      </object>
      <object name="BCResponseStatusTranslator" singleton="false" type="Tools.Commands.Implementation.IF1.Processors.BCResponseStatusTranslator, Tools.Commands.Implementation"/>
      <object name="RegularResponseStatusTranslator" singleton="false" type="Tools.Commands.Implementation.IF1.Processors.ResponseStatusTranslator, Tools.Commands.Implementation"/>

      <!-- Logging -->
      <object name="JobEventIdTraceFilter"
        type="Tools.Logging.EventIdTraceFilter, Tools.Logging">
        <constructor-arg name="eventIds">
          <list element-type="int">
            <value>2270</value>
          </list>
        </constructor-arg>
      </object>
      <object name="FallbackListener" type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging">
        <constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
        <constructor-arg name="logRootLocation" value="C:\logs\commands\response" />
        <constructor-arg name="fileDatetimePattern" value="dd-MMM-yyTHH-mm-ss" />
        <constructor-arg name="fileStaticPattern" value="dblogfallback" />
        <constructor-arg name="name" value="XmlFallbackLogger" />
      </object>
      <object name="XmlLogger"
    type="Tools.Logging.XmlWriterRollingTraceListener, Tools.Logging"
    singleton="false">
        <constructor-arg type="int" name="maxFileSizeBytes" value="2000000" />
        <constructor-arg name="logRootLocation" value="C:\logs\commands\response" />
        <constructor-arg name="fileDatetimePattern" value="dd-MMM-yyTHH-mm-ss" />
        <constructor-arg name="fileStaticPattern" value="log_" />
        <constructor-arg name="name" value="XmlLogger" />
      </object>
      <!-- End of Logging -->
    </objects>
  </spring>
  <system.diagnostics>
    <sources>
      <source name="Tools.Commands.Response.WindowsService" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
      <source name="Tools.Commands.Implementation" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
      <source name="Tools.Coordination" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
      <source name="Tools.Coordination.Ems" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
      <source name="Tools.Coordination.Ems2" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
      <source name="Tools.Core" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ConsoleListener"/>
          <add name="IoCXmlLogger"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="IoCXmlLogger" initializeData="XmlLogger"
				   type="Tools.Logging.Ioc.IocWrapperTraceListener, Tools.Logging.Ioc"
				   traceOutputOptions="Timestamp"/>
      <add initializeData=""
					type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					name="ConsoleListener" traceOutputOptions="DateTime"/>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="SourceDB" connectionString="User Id=ftpro; Password=xy; Data Source=forisng" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>
